<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxzy.springmvc.mapper.CustomerMapper">
<!-- getCountByQueryVo -->

<sql id="customer_where">
   <where>
     <if test="custName!=null and custName!=''">
        and c.cust_name like '%${custName}%'
     </if>
      <if test="custSource!=null and custSource!=''">
        and c.cust_source like '%${custSource}%'
     </if>
     <if test="custIndustry!=null and custIndustry!=''">
        and c.cust_Industry like '%${custIndustry}%'
     </if>
        <if test="custLevel!=null and custLevel!=''">
        and c.cust_Level like '%${custLevel}%'
     </if>
   
   </where>

</sql>
  <select id="getCountByQueryVo" parameterType="QueryVo" resultType="int">
      select count(*) from customer c 
      left join base_dict s on c.cust_source=s.dict_id
      left join base_dict i on c.cust_industry=i.dict_id
      left join base_dict l on c.cust_level=l.dict_id
      <include refid="customer_where"></include>
      
      
  </select>
  
  <select id="getCustomerByQueryVo" parameterType="QueryVo"  resultType="customer" >
      select  
	c.cust_id,
	c.cust_name,  
	c.cust_user_id,
	c.cust_create_id,
	s.dict_item_name as cust_source,
	i.dict_item_name as cust_industry,
	l.dict_item_name as cust_level,
	c.cust_linkman,
	c.cust_phone,
	c.cust_mobile,
	c.cust_zipcode,
	c.cust_address,
	c.cust_createtime
	from customer c 
      left join base_dict s on c.cust_source=s.dict_id
      left join base_dict i on c.cust_industry=i.dict_id
      left join base_dict l on c.cust_level=l.dict_id
      <include refid="customer_where"></include>
      limit #{start},#{rows}
  
  </select>
  
  
  <select id="getCustomerById"  parameterType="int" resultType="customer">
        select  
	c.cust_id,
	c.cust_name,  
	c.cust_user_id,
	c.cust_create_id,
	c.cust_source,
	c.cust_industry,
	c.cust_level,
	c.cust_linkman,
	c.cust_phone,
	c.cust_mobile,
	c.cust_zipcode,
	c.cust_address,
	c.cust_createtime
	from customer c 
   where cust_id=#{ff}
  
  </select>
  
  <update id="updateCustomer" parameterType="customer">
    update 
     customer
 
      	<set>
			<if test="cust_name != null">
				`cust_name` = #{cust_name},
			</if>
			<if test="cust_source != null and cust_source != ''">
				`cust_source` = #{cust_source},
			</if>
			<if test="cust_industry != null and cust_industry != ''">
				`cust_industry` = #{cust_industry},
			</if>
			<if test="cust_level != null and cust_level != ''">
				`cust_level` = #{cust_level},
			</if>
			<if test="cust_linkman != null and cust_linkman != ''">
				`cust_linkman` = #{cust_linkman},
			</if>
			<if test="cust_phone != null and cust_phone != ''">
				`cust_phone` = #{cust_phone},
			</if>
			<if test="cust_mobile != null and cust_mobile != ''">
				`cust_mobile` = #{cust_mobile},
			</if>
			<if test="cust_zipcode != null and cust_zipcode != ''">
				`cust_zipcode` = #{cust_zipcode},
			</if>
			<if test="cust_address != null and cust_address != ''">
				`cust_address` = #{cust_address},
			</if>
		</set>
    
  
    where cust_id=#{cust_id}
  
  
  </update>
  
  
  
  <delete id="deleteCustomer" parameterType="int">
		DELETE
		FROM `customer`
		WHERE `cust_id` = #{cust_id};
	</delete>
	
	
</mapper>
